<!DOCTYPE html>
<html>
<head>
    <title>Inicio de Sesión</title>
</head>
<body>

    <h2>Inicio de Sesión</h2>

    <form action="http://localhost/fetch-account.php" method="post">
        <div>
            <input inputmode="email" class="emailBox" placeholder="Email" name="email" id="email" required />
        </div>
        <div>
            <input type="password" class="pwdBox" placeholder="Password" name="password" id="password" required/>
        </div>
        <div>
            <a href="/createAccount">Crear Cuenta</a>
        </div>
        <div>
            <button type="submit">Ingresar</button>
        </div>
    </form>

</body>
</html>