<p>Envio</p>
<form [formGroup]="formularioDireccion" (ngSubmit)="onSubmit()">
  <div>
    <input placeholder="Nombre" class="half" formControlName="name" /><input placeholder="Apellido" class="half" formControlName="lastname" />
  </div>
  <div>
    <input type="text" placeholder="Dirección" class="full"  formControlName="address" />
  </div>
  <div>
    <input type="number" placeholder="Telefono" class="half" formControlName="cellphone" />
  </div>
  <div>
    <input type="email" placeholder="Email" class="full" formControlName="email" />
  </div>
  <div>
    <button type="submit" class="boton-estilizado">Guardar</button>
  </div>
</form>